{% extends "base.html" %}


{% block content %}
        <h1>Добро пожаловать на PlacesRemember!</h1>
        <p><strong>Сайт, где ваши воспоминания оживают!</strong></p>
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">Login with VK</a>

        <h2>На PlacesRemember вы можете легко сохранять и организовывать свои самые ценные моменты. Наша платформа позволяет вам:</h2>
        <ul>
            <li><strong>Создавать воспоминания:</strong> Запишите свои самые дорогие моменты жизни. Добавьте описание и место, чтобы сделать каждое воспоминание уникальным.</li>
            <li><strong>Описывать моменты:</strong> Подробно опишите каждое воспоминание, чтобы оно осталось в памяти на долгие годы.</li>
            <li><strong>Прикреплять места:</strong> Укажите на карте места, где были созданы ваши воспоминания. Путешествуйте по своим воспоминаниям, вспоминая, где произошел каждый из этих важных моментов.</li>
        </ul>

        <h2>Как это работает?</h2>
        <ol>
            <li><strong>Регистрация и Вход:</strong> Зарегистрируйтесь на нашем сайте или войдите в свою учетную запись через ВКонтакте.</li>
            <li><strong>Создание Воспоминания:</strong> Присутствует удобная форма для записи ваших воспоминаний.</li>
            <li><strong>Сохранение и Просмотр:</strong> Сохраните ваше воспоминание и просматривайте его в любое время. Вы также можете редактировать или удалять воспоминания при необходимости.</li>
        </ol>

        <h2>Почему выбрали нас?</h2>
        <ul>
            <li><strong>Удобство:</strong> Интуитивно понятный интерфейс, который позволяет легко создавать и управлять воспоминаниями.</li>
            <li><strong>Безопасность:</strong> Ваши данные надежно защищены, и другие пользователи не могут смотреть ваши личные воспоминания.</li>
            <li><strong>Доступность:</strong> Доступ с любого устройства, имеющего браузер и выход в Интернет.</li>
        </ul>

        <p>Присоединяйтесь к сообществу PlacesRemember и начинайте сохранять свои воспоминания уже сегодня! Сделайте так, чтобы важные моменты вашей жизни никогда не были забыты.</p>

{% endblock %}